<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    </head>
    <body>
        <div class="logout_button">
            <a href="/quotes"><button class="button">Home</button></a>
            <a href="../logout"><button class="button">Logout</button></a>
        </div>
        <header>
            <h1> Hello {{ user.first_name }}!</h1>
            <hr>
        </header>
        <div class="content">
            <form action="/quotes/{{quote.id}}/update" method="POST">
                {% csrf_token %}
                <h1 class="label"> Edit Quote </h1>
                <label for="Author" class="label">Author:</label>
                <input class="input" type="text" name="author" id="author" value="{{ quote.author }}">
                <label for="quote" class="label">Quote:</label>
                <textarea class="textarea" type="textarea" name="quote" id="quote">{{ quote.quote }}</textarea>
                <input class="button" type="submit" name="add_quote" id="add_quote" value="Edit Quote">
                <a href="/quotes/{{quote.id}}/destory"><input class="button"  value="Delete"></a>
                {% if messages %}
                    <ul class="messages">    
                        {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                        {% endfor %}
                    </ul>
                {% endif %}
            </form>
        </div>
    </body>
</html>
