<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- {% load static %} -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        
    </head>
    <body>

        <div class="logout_button">
            <a href="/books"><button class="button">Home</button></a>
            <a href="../logout"><button class="button">Logout</button></a>
            
        </div>
        <div>
            
        </div>

        <header>
            <h1> Hello {{ user.first_name }}! </h1>
            <hr>
        </header>

        <div class="content">
            <div class="view_book">
                <h1>{{book.title}}</h1>
                <p>Added By: {{ book.uploaded_by.first_name}}</p>
                <p>Added On: {{book.created_at}}</p>
                <p>Last Updated On: {{book.updated_at}}</p>
                <p>Description: {{book.desc}}</p>

            </div>
            <div class="all_books">
                <h1 class="label"> Users Who Like This Book: </h1>

                <ul>
                    {% for user in book.users_that_favorited.all %}
                        <li>
                            <p class="favorited">{{ user.first_name }}</p>
                        </li>
                    {% endfor %}
                </ul>
                
                {% if book in user.books_favorited.all %}
                    <p class="favorited">This is one of your favorites</p>
                {% else %}
                    <a href="{{book.id}}/favorite_view"><input class="button" type="button" name="login" id="login" value="Favorite"></a>
                {% endif %}

            </div>
        </div>
    </body>
</html>
