<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    </head>
    <body>

        <div class="logout_button">
            <a href="/logout"><button class="button">Logout</button></a>
        </div>

        <div>
            <h1> Success! Welcome, {{ user.first_name }}!</h1>
            <h3>Successfully Registered (or logged in)!</h3>
        </div>
            

    </body>
</html>
