<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    </head>
    <body>

            <h1 class="label"> Update Information For {{ show.title }} </h1>

            <label for="title" class="label">Title:</label>
            <p>{{ show.title }}</p>


            <label for="network" class="label">Network:</label>
            <p>{{ show.network }}</p>

            <label for="release_date" class="label">Release Date:</label>
            <p>{{ show.release_date |date:'Y-m-d'}}</p>
            
            <label for="description" class="label">Description:</label>
            <p>{{ show.description }}</p>

            <div class="control">
                <a href="../../shows/{{ show.id }}/edit">Edit</a> | 
                <a href="../../shows/{{ show.id }}/delete">Delete</a>
            </div>
        </form>

    </body>
</html>
